[Unit]
Description=Scan Wifi and create setup AP
After=network.target

[Service]
SyslogIdentifier=webconfig.service
EnvironmentFile=/boot/adsb-config.txt
EnvironmentFile=/boot/flyovrio-env
Type=simple
User=root
ExecStart=/bin/bash /flyovrio/webconfig/webconfig.sh
Restart=no
RestartSec=30

[Install]
WantedBy=multi-user.target
